# Copy this file to application-local.properties and fill in your Razorpay TEST keys.
# Never commit application-local.properties to Git.

razorpay.enabled=true
razorpay.key-id=rzp_test_T1RzLna11NVden
razorpay.key-secret=3e6mUoK7G58tvCe0yaSJBW6c
razorpay.currency=INR
